
body{
    background-image: url(FES.png);
    background-attachment: fixed;

}

#logo{
    
    background: blue;
        
        }  
    
    #menu ul li:hover{
        background: darkgoldenrod;
      
      }
      .button-more{
        background: darkgoldenrod;
         }
      