body{
    background-image: url(imagen3.jpg);
    background-attachment: fixed;
}

#logo{
    
background:green;
    
    }  

#menu ul li:hover{
    background: darkgoldenrod;
  
  }
  .button-more{
    background: darkgoldenrod;
     }
  
  