body
{
    background-image: url(La-Biblioteca.jpg);
    background-attachment: fixed;
}




#logo{
    
    background:red;
        
        }  
    
    #menu ul li:hover{
        background: darkgoldenrod;
      
      }
      .button-more{
        background: darkgoldenrod;
         }
