


body{
    background-image: url(La-Biblioteca.jpg);
    background-attachment: fixed;
}


  #global{
width: 80%;
margin: 80px;
margin-top: 60px;
padding: 10px;
background: white;
box-shadow: 0px 0px 2px gray;  

}

#logo{
  font-size:"ventana","arial";
  font-size: 50px;
  letter-spacing: 4px;
  line-height: 80px;
  background: darkgoldenrod;
  text-align: inherit;
  width: 600px;
 

}
#menu
{
font-family: cursive;
background: rgb(1, 1, 36);
width: 100%;
text-transform: uppercase;
margin-bottom: 20px;
}


#menu ul{
line-height: 46px;
}
#menu li{
  height: 46px;
display: inline-block ;
transition: all 300ms;
}



#menu a{
  display: block;
  color: white;
  text-decoration: none;
  padding-left: 60px;
  padding-right: 60px;
}
#posts{
  width:60%;
  float: left;
  font-family: Arial, Helvetica;
}

.post{
  padding: 15px;
}
.post h2{
  font-size: 30px;
  color: darkgoldenrod;
}

.post .date{
display: block;
color: darkgreen;
margin-top: 7px;

}
.post p{
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 22px;
  text-align: justify ;
}
.button-more{
  font-size: 15px;
  text-align: center;
  display: block;
  padding:  20px;
  
  color: white;
  text-decoration: none;
  margin-top: 10px;
  width: 70px;
}




#slidebar{
  font-family: Verdana, Geneva, Tahoma;
width: 30%;
float: right;
}
#slidebar h4{
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 10px;
  color: darkorange;


}
#slidebar h4 span{
  background: white;
  padding: 5px;
}

#slidebar img{
  width: 90%;
}


#slidebar p{
font-size: 15px;
text-align: justify;
}



form input[type="text"]
form input[type="email"]
form input[type="password"]

{
  background-color: lightgreen;
 text-align: left;
  padding: 10px;
  border-radius: 6px;
  border: 1px;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0px 0px 2px gray;
}






form input[type="submit"]
{
  background: slategray;
  padding: 10px;
  border: 1px solid #cccccc;
  cursor: pointer;

}

footer {
  font-family: Arial, Helvetica;
  color: white;
  background: rgba(51,51,51, 0.70);
  height: 47px;
  margin: 0px auto;
  width: 65%
  padding: left 20px;
  padding: :right 20px;
  margin-top: 50px;
  line-height: 47px;
}
.bx-wapper, .bx-viewport{
  height: 250px !important;
}
  
#selector-theme{
 position: fixed;
 top:40%;
 background: rgba(51, 51, 51, 0.5);
width: 50px;
 height: 100px;
}
#to-green,
#to-red,
#to-blue{
  width: 25px;
  height: 25px;
  border: 1px solid white;
  display: block;
  margin: 0px auto;
  margin-top: 5px;
  margin-bottom: 5px;

}

#to-green
{
  background:green;
}
#to-red
{
  background:red;
}
#to-lue
{
  background:blue;
}